body {
    align-items: center;
    display: flex;
    justify-content: center;
  }
#container{
    background-color: #29c4a5;
    display: grid;
    width: 20%;
    margin: auto;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px;
    padding: 40px;
}
#container>h1{
    color: white;
}

#form{
   display: grid;
   display: grid;
   grid-template-columns: repeat(1,1fr);
   grid-template-rows: repeat(5,50px);
   align-items: center;
   margin: auto;
   padding: 0px 0 40px 0;
   gap: 20px;
}
#form>input{
    margin: auto;
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 3px;
    text-align: center;
}
#signup{
    background-color: #01856ab7;
    font-weight: bold;
    color: white;
}

#return{
    background-color: #01856ab7;
    font-weight: bold;
    color: white;
}